<div fxLayout="column" class="components-container-gt-xs"
     [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px">
    <div fxFlex class="table-component-holder mat-elevation-z4">
        <mat-toolbar class="table-header mat-primary">
            <h1 class="mat-headline center-align">Search company</h1>
            <button mat-raised-button class="back-btn" *ngIf="showList" (click)="getBackToTable()">Back to Table
                <mat-icon>keyboard_backspace</mat-icon>
            </button>

            <mat-form-field floatLabel="never" floatPlaceholder="never" class="company">
                <mat-label>Type Company Name</mat-label>
                <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let row of filteredOptions | async" [value]="row.EnitityName"
                                (onSelectionChange)="getCompanyData(row.EnitityName)">{{row.EnitityName}}</mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </mat-toolbar>

        <div *ngIf="showTable">
            <div class="table-container example-container mat-elevation-z8">
                <mat-card *ngIf="companyData">
                    <mat-card-header>
                        <div>
                            <div><h2>{{companyData?.SecurityName}}</h2></div>
                            <div class="SecurityId">
                                <h4>{{companyData?.SecurityId}}</h4>
                            </div>
                        </div>
                        <div class="middle-align">
                            <h4>SecurityCode: {{companyData?.SecurityCode}}</h4>
                            <h4>BSE Status: <span [ngClass]="companyData?.Status == 'Active' ? 'green' : 'black'">{{companyData?.Status}}</span></h4>
                        </div>
                        <div class="right-align">
                            <h4>FaceValue: {{companyData?.FaceValue}}</h4>
                            <h4>ISIN Number: {{companyData?.ISINNo}}</h4>
                        </div>
                    </mat-card-header>
                    <mat-card-content *ngIf="companyData?.Status == 'Active' && companyData?.CLOSE">
                        <div class="mat-card-header-text"></div>
                        <div class="paddingContent">
                            <h3>CLOSE: <span
                                    [ngClass]="companyData.CLOSE > companyData.PREVCLOSE ? 'green': 'red'">{{companyData?.CLOSE}}</span>
                            </h3>
                        </div>
                        <div class="paddingContent">
                            <h4>Industry: {{companyData?.Industry}}</h4>
                            <h4>Instrument: {{companyData?.Instrument}}</h4>
                        </div>
                        <div class="paddingContent group">
                            <h4>SC_GROUP: {{companyData?.SC_GROUP}}</h4>
                            <h4>SC_TYPE: {{companyData?.SC_TYPE}}</h4>
                        </div>
                        <div class="paddingContent">
                            <h4>HIGH: {{companyData?.HIGH}}</h4>
                            <h4>LOW: {{companyData?.LOW}}</h4>
                        </div>
                        <div class="paddingContent group">
                            <h4>OPEN: {{companyData?.OPEN}}</h4>
                            <h4>LAST: {{companyData?.LAST}}</h4>
                        </div>
                        <div class="paddingContent">
                            <h4>NET TURNOVER: {{companyData?.NET_TURNOV}}</h4>
                            <h4>NO OF SHARES: {{companyData?.NO_OF_SHRS}}</h4>
                        </div>
                        <div class="paddingContent group">
                            <h4>NO TRADES: {{companyData?.NO_TRADES}}</h4>
                            <h4>Trading Date: {{companyData?.TRADING_DATE}}</h4>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>


