@import '../../../theme/theme.scss';

.table-container {
  position: relative;
  //margin-top:50px;
}

.table-container .mat-table {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.table-container .mat-table .mat-header-row {
  position: absolute;
  top: -50px;
  left: 0;
  right: 18px;
  background: #fff;
}

.table-header {
  //background-color: $primary-btn;
  color: white;
  padding: 0 5px;
  width: 100%;
}

.table-container {
  //padding: 5px 15px 15px 15px;
}

.table-component-holder {
  border: 1px solid #327ebd;
  background-color: white;
}

.mat-cell cdk-column-bookID mat-column-bookID ng-tns-c23-3 ng-star-inserted {
  width: 80px;
  max-width: 80px;
  min-width: 80px;
}

mat-icon {
  cursor: pointer;
}


.mat-table {
  display: block;
  font-family: Tahoma, Verdana;
}

.mat-row,
.mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  min-height: 48px;
  padding: 0 24px;
}

.mat-cell,
.mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}

.back-btn {
  float: right;
  margin-left: 200px;
}

.company {
  margin-left: 50px;
}

mat-form-field {
  width: 500px;
}

mat-card-header {
  height: 120px;
  color: black;
  border: 2px solid grey;
  border-radius: 5px;
  background: #8080801a;
}

mat-card-content {
  margin-top: 20px;
  height: 600px;
  color: black;
  border: 2px solid grey;
  border-radius: 5px;
  background: #8080801a;
}

.SecurityId {
  //float: right;
  margin-top: -15px;
}

.middle-align {
  float: right;
  margin-left: 200px;
  width: 300px;
}

.right-align {
  float: right;
  width: 300px;
  margin-left: 200px;
}

//mat-divider {
//  height: 100px;
//  color: black;
//  border-right: 2px solid grey;
//  width: 20px;
//  margin-left: 50%;
//  margin-top: -50px;
//}

.paddingContent {
  padding-left: 30px;
  padding-top: 10px;
  font-size: 18px;
  width: 70%;
}

.group {
  margin-top: -121px;
  float: right;
  margin-right: -275px;
  width: 70%;
}

h2 {
  font-size: 24px;
}

.mat-card .mat-divider-horizontal {
  position: absolute;
  left: 4%;
  width: 50% !important;
}

.mat-card[_ngcontent-lth-c17] .mat-divider-horizontal[_ngcontent-lth-c17] .close-bar {
  width: 90% !important;
}

horizontal {
  width: 46%;
  margin-top: 10px;
  color: black;
  border-right: 2px solid grey;
}

.horizontal-right {
  width: 46% !important;
  left: 46% !important;
}

.paddingContent h4 {
  border-bottom: 2px solid grey;
  width: 46%;
  margin-bottom: 6px;
  padding-bottom: 8px;
}

.paddingContent h3 {
  border-bottom: 2px solid grey;
  width: 130%;
  margin-bottom: 6px;
  padding-bottom: 8px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.black {
  color: black;
}