<mat-toolbar   class="mat-elevation-z4">
	<button mat-icon-button (click)="sidenav.toggle();drawer.toggle();" *ngIf="matDrawerShow">
        <i class="material-icons app-toolbar-menu">menu </i>
    </button> 
    <button mat-icon-button (click)="sidenav.toggle();" *ngIf="!matDrawerShow">
        <i class="material-icons app-toolbar-menu">menu </i>
    </button>
    <span class="spacer"></span>
    <app-fullscreen></app-fullscreen>
    <app-user-menu [currentUser]="toolbarHelpers?.currentUser"></app-user-menu>
</mat-toolbar>
