<!-- Below is another example of the home page that has a smaller menu that shows up when the main menu is hidden -->
<mat-sidenav-container class="container" [ngClass]="themeColor" fullscreen>
  <mat-sidenav [mode]="sideNavMode" class="sidenav" #sidenav [opened]="sideNavOpened" style="overflow: hidden;">
    <mat-toolbar color="primary" class="mat-elevation-z4">
      <img src="./assets/logo.png" width="36px">
      <h1 class="logo">
        Crediwatch App
      </h1>
    </mat-toolbar>
    <app-sidemenu></app-sidemenu>
  </mat-sidenav>
  <mat-sidenav-content style="z-index: unset;overflow: hidden;">
    <mat-drawer-container fullscreen>
      <mat-drawer mode="side" #drawer class="drawer" [opened]="matDrawerOpened" style="overflow: hidden;">
        <mat-toolbar color="primary" class="mat-elevation-z4">
          <img src="./assets/logo.png" width="36px">
        </mat-toolbar>
        <app-sidemenu [iconOnly]="true"></app-sidemenu>
      </mat-drawer>
      <mat-drawer-content style="overflow: hidden;">

        <cdk-toolbar [sidenav]="sidenav" [drawer]="drawer" [matDrawerShow]="matDrawerShow"
                     style="z-index: 500"></cdk-toolbar>


        <perfect-scrollbar style="height: calc(100% - 33px);">
          <router-outlet></router-outlet>
        </perfect-scrollbar>

      </mat-drawer-content>
    </mat-drawer-container>
  </mat-sidenav-content>
</mat-sidenav-container>
            
            
    
    









